
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body{
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  text-align: center;
  color: #333333;
}

.scroll-effect{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

}

header{
  background-image: url(../images/header.jpg);

}

nav{
  position: absolute;
  top: 100px;
  right: 100px;
}

.downbutton{
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

}

h1{
  margin-bottom: 20px;
}

nav a{
  padding: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;

}

nav a:hover{
  color: rgb(231, 223, 48);
  text-decoration: underline;

}
.highlight{
  background-color:rgb(215, 215, 215);
  padding: 50px 0;

}
h2, h4{
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 700;
}
.features{
  margin: 0 auto;
  padding: 50px 0;
  max-width: 750px;

}
p{
  margin-bottom: 60px;

}


#filter1 {

  background-image: url(../images/one.jpg);

}
#filter2 {
  background-image: url(../images/two.jpg);

}
#filter3 {
  background-image: url(../images/three.jpg);
}
#filter4 {
  background-image: url(../images/four.jpg);
}
#filter5 {
  background-image: url(../images/five.jpg);
}



h3 {
  color: rgb(255, 255, 255);
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 300;
  position: absolute;
  bottom: 40px;
  width: 100%;


}

/* Subcribe */
.subscribe, footer {
  background-color: rgb(255, 224, 17);
  padding: 50px 0;
}

.email{
  border: 2px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  padding: 8px;
  border-radius: 4px;
outline: none;

margin-left: 10px;
}

.email:focus{
  width: 4px;

}

.button, button {
  background-color: transparent;
  border: 2px solid #808080;
  padding: 8px 0;
  border-radius: 5px;
  width: 60%;

}

.button:hover{
  border-color: white;
  color: white;
  }

  footer{
    font-size: 15px;
    text-transform: uppercase;
  }

  small{
    color: white;
  }
  footer a{
    text-decoration: none;
    color: rgb(215, 215, 215);
    margin: 0 10px 0 10px;
  }

  /* About page style */
  .about{
    background-image: url(../images/three.jpg);

  }
  .gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .gallery-image {
    height: 200px;
    margin: 0 0 20px 20px;

  }

  .pricing {
    background-image: url(../images/header.jpg);
    height: auto;
    padding: 50px 0;
    color: white;
  }

  .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .card {
    background-color: #f2f2f2;
    border-radius: 3px;
    margin: 12px;
    padding-bottom: 50px;
    flex-basis: 250px;
    align-items: center;

  }
  h4{
    background: #808080;
    height: 90px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;



  }
  ul{
    list-style: none;
    color: #333333;
    margin: 25px;

  }
  li{
    height: 20px;
    margin: 10px auto;
  }
.card-big{
  transform: scalex(1.12);

}
.card-big button{
  background-color: yellow;

}

buton:hover{
  background: #333333;
  color:white;

}






   @media screen and (max-width: 760px){

     .scroll-effect{
       background-attachment: scroll;
     }
     nav{
       position: static;
       padding-top: 50px;
     }

     .subscribe, .highlight, .features{
       padding: 20px;
     }
     .button, .email{
       width: 100%;
     }


   }
